@import "bootstrap/dist/css/bootstrap.min.css";

/* Utilities */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

.error-text {
  font-size: 0.9rem;
}

/* Home */
.home,
.add-goal {
  height: 100vh;
}

.home-card,
.add-goal-card {
  width: max(400px, 50%);
}

/* Add Goal */
.date-picker > * {
  border: none;
}
