@import "bootstrap/dist/css/bootstrap.min.css";

/* Utilities */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

.error-text {
  font-size: 0.9rem;
}

/* Home */
.home {
  height: 100vh;
}

.home-card {
  width: 50%;
}
